:global #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
a {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.display-flex {
  display: flex;
}
.flex-direction(@direction: column) {
  flex-direction: @direction;
}
.flex-grow {
  flex-grow: 1;
}

@theme-light: #fff;
@theme-dark: #000;
.theme-light {
  background: @theme-light;
}
.theme-dark {
  background: @theme-dark;
}
